---
title: Search
---
<div id="search">
    <p>Click the prop(s) to include in your search.</p>
    <div id="mode" class="row">
        <div class="small-12 medium-6 columns">
            <div class="switch">
                <input id="searchAnd" type="radio" name="search" checked value="and">
                <label for="searchAnd"></label>
            </div>
            <div class="label secondary"><label for="searchAnd">match all selected props</label></div>
        </div>
        <div class="small-12 medium-6 columns">
            <div class="switch">
                <input id="searchOr" type="radio" name="search" value="or">
                <label for="searchOr"></label>
            </div>&nbsp;<div class="label secondary"><label for="searchOr">match any selected prop</label></div>
        </div>
    </div>
    <p id="props" class="text-center">
        {% assign props = site.allprops | sort %}
        {% for prop in props %}
            {% assign propPath = "_props/" | append:prop | append:".markdown" %}
            {% assign foundProps = site.props | where:"relative_path", propPath %}
            {% assign foundSize = foundProps | size %}
            {% if foundSize > 0 %}
                {% assign foundProp = foundProps[0] %}
                {% assign propTitle = foundProp.title %}
            {% else %}
                {% assign propTitle = prop %}
            {% endif %}
            <label class="prop label secondary" data-prop="{{ prop }}">{{ propTitle }}</label>
        {% endfor %}
    </p>

    <div data-equalizer="title">
        <ul id="concerts" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" data-equalizer="image">
            {% for post in site.posts %}
                <li class="isotope {% for prop in post.props %} {{prop}}{%endfor%}">{% include concert.html concert=post element="div" %}</li>
            {% endfor %}
        </ul>
    </div>
</div>