{% assign concert = include.concert %}
<{{include.element}} class="item">
    <div class="itemContainer">
        <div class="imgContainer">
            <div class="imgWrapper" data-equalizer-watch="image">
                {% if concert.images %}
                    {% assign concertImage = concert.images[0] %}
                    <a href="{{ site.baseurl }}{{ concert.url }}">
                        <img src="{{ site.baseurl }}content/media/{{ concert.url }}/{{ concertImage }}" />
                    </a>
                {% else %}
                    <a href="{{ site.baseurl }}{{ concert.url }}">
                        <img src="{{ site.baseurl }}content/media/no-image.jpg" />
                    </a>
                {% endif %}        
            </div>
        </div>
        <div class="text-center" data-equalizer-watch="title">
            <div><a href="{{ site.baseurl }}{{ concert.url }}">{{ concert.title }}</a></div>
            <div>{{ concert.date | date: "%A" }}</div>
            <div class="date">{{ concert.date | date: "%Y-%m-%d" }}</div>
        </div>
    </div>
</{{include.element}}>