{% assign concert = include.concert %}
{% assign images = concert.images %}
{% assign prefix = concert.url | split: '/' %}
{% if prefix[1] == "tweets" "%}{% assign images = 'tweet.jpg' | split: ' ' %}{% endif %}

<{{include.element}} class="item">
    <div class="itemContainer">
        <div class="imgContainer">
            <div class="imgWrapper" data-equalizer-watch="image">
                {% if images %}
                    {% assign concertImage = images[0] %}
                    <a href="{{ site.baseurl }}{{ concert.url }}">
                        <img src="{{ site.baseurl }}content/media/{% if concertImage %}{{ concert.url }}/{{ concertImage }}{% else %}no-bear.jpg{% endif %}" />
                    </a>
                {% else %}
                    <a href="{{ site.baseurl }}{{ concert.url }}">
                        <img src="{{ site.baseurl }}content/media/no-image.jpg" />
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="text-center" data-equalizer-watch="title">
            <div><a href="{{ site.baseurl }}{{ concert.url }}">{{ concert.title }}</a></div>
            <div>{{ concert.date | date: "%A" }}</div>
            <div class="date">{{ concert.date | date: "%Y-%m-%d" }}</div>
        </div>
    </div>
</{{include.element}}>
