<script src="{{ site.baseurl }}/content/scripts/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/content/scripts/lightbox.min.js"></script>
<script src="{{ site.baseurl }}/content/scripts/vendor/fastclick.js"></script>
<script src="{{ site.baseurl }}/content/scripts/foundation.min.js"></script>
<script>
    Foundation.global.namespace = "";
    $(document).foundation({equalizer: { equalize_on_stack: true}});

    lightbox.option({
        alwaysShowNavOnTouchDevices: true
    });
</script>