<div class="fixed contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{{ url }}/">
                    <span class="not-tiniest">1D's Rainbow Bondage Bear &amp; Sugar Bear</span>
                    <span class="tiniest">1D's RBB and SB</span>
                </h1></a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="{{ url }}"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
        <ul class="right">
            <li><a href="{{ url }}/concerts">Concerts</a></li>
            <li><a href="{{ url }}/props">Props</a></li>
            <li><a href="{{ url }}/search">Search</a></li>
        </ul>
        </section>
    </nav>
</div>