{% assign prop = include.prop %}
{% assign propPath = "_props/" | append:prop | append:".markdown" %}
{% assign foundProps = site.props | where:"relative_path", propPath %}
{% assign foundSize = foundProps | size %}
{% if foundSize > 0 %}
    {% assign foundProp = foundProps[0] %}
    {% assign propTitle = foundProp.title %}
    {% if foundProp.images %}
        {% assign propImage = foundProp.images[0] %}
    {% else %}
        {% capture propImage %}{{site.baseurl}}/content/media/no-image.jpg{%endcapture%}
    {% endif %}
    {% capture propUrl %}{{site.baseurl}}/{{foundProp.url}}{% endcapture %}
{% else %}
    {% assign propTitle = prop %}
    {% capture propUrl %}{{site.baseurl}}/props/{{prop}}{%endcapture%}
    {% capture propImage %}{{site.baseurl}}/content/media/no-image.jpg{%endcapture%}
{% endif %}

<li class="item">
    <div class="itemContainer">
        <div class="imgContainer">
            <div class="imgWrapper" data-equalizer-watch="image">
                <a href="{{ propUrl }}">
                    <img src="{{ propImage }}" />
                </a>
            </div>
        </div>
        <div class="text-center" data-equalizer-watch="title">
            <div><a href="{{ propUrl }}">{{ propTitle }}</a></div>
        </div>
    </div>
</li>