---
layout: default
---

<div class="post">
    <div class="text-center">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="images">
        {% if page.images %}
            <div class="row">
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
                    {% for img in page.images %}
                        {% include bear-image.html img=img %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Images have not been added for this concert yet. {% include contribute.html %}</p>
        {% endif %}
    </div>

    <hr>
    
    <div id="tags">
        {% assign propsLength = page.props | size %}
        {% assign tagsLength = page.tags | size %}
        {% if propsLength > 0 or tagsLength > 0 %}
            {% if propsLength > 0 %}
                {% for prop in page.props %}
                    {% assign propPath = "_props/" | append:prop | append:".markdown" %}
                    {% assign foundUrl = site.props | where:"relative_path", propPath | map:"url" %}
                    {% if foundUrl != empty %}
                        {% assign foundTitle = site.props | where:"relative_path", propPath | map:"title" %}
                        <a href="{{ site.baseurl }}/{{ foundUrl }}" class="button small round {% cycle 'default', 'success' %}">{{ foundTitle }}</a>
                    {% else %}
                        <a href="{{ site.baseurl }}/props/{{ prop }}" class="button small round {% cycle 'default', 'success' %}">{{ prop }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if tagsLength > 0 %}
                {% for tag in page.tags %}
                    <span>{{tag}}</span>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>Props haven't been listed for this concert yet. {% include contribute.html %}</p>
        {% endif %}
    </div>

    <hr>

    {% assign concertContent = page.content | strip_newlines %}
    {% if concertContent != empty %}
        {{ concertContent }}
    {% else %}
        <p>No comments have been entered for this concert yet. {% include contribute.html %}</p>
    {% endif %}
</div>