---
layout: default
---
<div class="post">
    <div class="text-center">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="images row">
        <div class="small-12 columns">
            {% if page.images %}
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
                    {% for img in page.images %}
                        {% include bear-image.html img=img %}
                    {% endfor %}
                </ul>
                {% if page.imageCredits %}<p class="note">Picture credits: {% for credit in page.imageCredits %}<a href="{{ credit[1] }}">{{ credit[0] }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
            {% else %}
                <p>Images have not been added for this concert yet. {% include contribute.html %}</p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div id="tags">
        {% assign propsLength = page.props | size %}
        {% if propsLength > 0 %}
            {% assign props = page.props | sort %}
            {% for propCode in props %}
                {% assign prop = site.allprops[propCode] %}
                <a href="{{ site.baseurl }}props/{{ propCode }}" class="button small round {% cycle 'default', 'success' %}">{{ prop["title"] }}</a>
            {% endfor %}
        {% else %}
            <p>Props haven't been listed for this concert yet. {% include contribute.html %}</p>
        {% endif %}
    </div>

    <hr>

    {% assign concertContent = page.content | strip_newlines %}
    {% if concertContent != empty %}
        {{ page.content | markdownify }}
    {% else %}
        <p>No comments have been entered for this concert yet. {% include contribute.html %}</p>
    {% endif %}

    <div id="pagination" class="row">
        <div id="prevItem" class="small-6 columns">
            {% if page.previous %}
                <a href="{{ site.baseurl }}{{ page.previous.url }}"><< {{ page.previous.title }}</a>
            {% endif %}
        </div>
        <div id="nextItem" class="small-6 columns">
          {% if page.next %}
                <a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} >></a>
            {% endif %}
        </div>
    </div>
</div>
