---
layout: default
---

<div class="page">
    <div class="text-center">
        <h2>{{ page.title }}</h2>
    </div>

    <div class="images">
        {% if page.images %}
            <div class="row">
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
                    {% for img in page.images %}
                        {% include bear-image.html img=img %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Images have not been added for this prop yet. {% include contribute.html %}</p>
        {% endif %}
    </div>

    <hr>

    {% assign propContent = content | strip_newlines %}
    {% if propContent != empty %}
        {{ propContent }}
    {% else %}
        <p>Nothing has been entered for this prop yet. {% include contribute.html %}</p>
    {% endif %}

    <hr>

    <div id="concerts">
        <div class="text-center">
            <h3>Concerts</h3>
        </div>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            {% for post in site.posts %}
                {% if post.props contains page.prop %}
                    {% include concert.html concert=post element="li" %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>