---
layout: default
---
{% if page.prop %}
    {% assign prop = page.prop %}
{% else %}
    {% assign propFolder = "_" | append:page.collection | append:"/" %}
    {% assign prop = page.relative_path | replace:propFolder,"" | replace:".markdown","" %}
{% endif %}

<div class="page">
    <div class="text-center">
        <h2>{{ page.title }}</h2>
        {% assign parents = site.allprops[prop]["propParent"] %}
        {% if parents %}
          <h3>
            <small>
              See also:
              {% for parentProp in parents %}<a href="{{site.baseurl}}{{site.allprops[parentProp]['url']}}">{{site.allprops[parentProp]["title"]}}</a>{%unless forloop.last%}, {%endunless%}{% endfor %}
            </small>
          </h3>
        {% endif %}
    </div>

    <div class="images row">
      <div class="small-12 columns">
        {% if page.images %}
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
                    {% for img in page.images %}
                        {% include bear-image.html img=img %}
                    {% endfor %}
                </ul>
        {% else %}
            <p>Images have not been added for this prop yet. {% include contribute.html %}</p>
        {% endif %}
      </div>
    </div>

    <hr>

    {% assign propContent = content | strip_newlines %}
    {% if propContent != empty %}
        {{ propContent }}
    {% else %}
        <p>Nothing has been entered for this prop yet. {% include contribute.html %}</p>
    {% endif %}

    <hr>

    <div id="concerts">
        <div class="text-center">
            <h3>Concerts</h3>
        </div>
        <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
            {% for post in site.posts %}
                {% assign parentMatch = false %}
                {% for postProp in post.props %}
                  {% if site.allprops[postProp]["propParent"] contains prop %}
                    {% assign parentMatch = true %}
                  {% endif %}
                {% endfor %}
                {% if post.props contains prop or parentMatch == true %}
                    {% include concert.html concert=post element="li" %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% if page.purchaseLink %}
        <hr>
        <p>View the product page for <a href="{{ page.purchaseLink }}">this item</a></p>
    {% endif %}

    <hr>
    <div id="pagination" class="row">
        <div id="prevItem" class="small-6 columns">
          {% assign previousCode = site.allprops[prop]["previous"] %}
          {% if previousCode %}
              {% assign previous = site.allprops[previousCode] %}
              <a href="{{ site.baseurl }}{{ previous.url }}"><< {{ previous.title }}</a>
          {% endif %}
        </div>
        <div id="nextItem" class="small-6 columns">
          {% assign nextCode = site.allprops[prop]["next"] %}
          {% if nextCode %}
              {% assign next = site.allprops[nextCode] %}
              <a href="{{ site.baseurl }}{{ next.url }}">{{ next.title }} >></a>
          {% endif %}
        </div>
    </div>
</div>
